@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
  --primer_color:#a4c324;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.cabecera{
    display: flex;
    background-color: #000000;
    min-height: 70px;
    min-width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.primer{
    display: flex;
    align-items: center;
}

.primer-{
    align-items: center;
    justify-content: end;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__img{

    padding: 5px;
    width: 50px;
    border-radius:40px ;
}

.logo__text{
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}

.nav__link{
    margin-right: 30px;
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
}

.nav__link:hover{
    color: #a4c324;
}

.nav{
    align-items: center;
    justify-content: en;
}


    

.img__fondo{
    width: 100vw;
    height: 40vh;
    background-image: url(https://www.dropbox.com/s/82jkrdsbmr1w0zs/Puente_de_ie.jpg?raw=1);
    background-repeat: no-repeat;
    background-image: linear-gradient(#131606);
    background-position: center;
    background-size: cover;
}

.text__fondo{

    width: 80vw;
    margin: auto;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 2em ;
    font-size: 3em;
    color: var(--primer_color);
}

.slide-container{
  max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    width: 690px;
  height: 480px;
  padding: 2em;
  }
  .slide-content{
    margin: 7% 10%;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:var(--primer_color);
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--primer_color);
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--primer_color);
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--primer_color);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    
  }
  .button:hover{
    background: var(--primer_color);
  }
  
  .swiper-navBtn{
    color: var(--primer_color);
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: var(--primer_color);
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: var(--primer_color);
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: var(--primer_color);
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  .slider{
    width: 95%;
    overflow: hidden;
  }
  .slider ul{
    display: flex;
   padding: 0;
   width: 400%;
   animation: cambio 20s infinite;
   animation-direction: alternate;
   margin: 40px;

  }
  .slider li{
    width: 100%;
    list-style: none;
  }
  .slider li img{
    width: 100%;
    height: 50%;
  }
  @keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

    
  }
.continer{
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.buscador-container{
  background: #fff;
  padding: 10px;
  margin-right:40px ;
  border-radius: 20px;
}

.boton{
  border: none;
  
  background: none;
}

.formulario{
  width: 0;
  border: none;
  outline: none;  
  line-height: 60px;
  transition: 1s;
  height: 10px;


}

@media screen AND (min-width:700px) {
  .buscador-container:hover > .formulario{
    width: 400px;
  }
  
}
#resultado{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
#resultadoTitulo{
  font-size: 2em;
  font-weight: bold;
  color: var(--primer_color);
}


